<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <div class="form-box">
      <h2>Login Form</h2>
      <form method="POST">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <button type="submit">Login</button>
        <p>Do not have an account? <a href="{{ url_for('register') }}">Register</a></p>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
      </form>
      
    </div>
  </div>
</body>
</html>
