<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Availability</title>

    <style>
        table {
            width: 70%;
            margin: 20px auto;
            border-collapse: collapse;
            font-size: 18px;
        }
        th {
            background-color: #f2f2f2;
            padding: 12px;
            font-size: 20px;
        }
        td {
            padding: 12px;
            text-align: center;
        }
        h2 {
            text-align: center;
        }
    </style>

</head>
<body>

    <h2>Doctor's Availability</h2>

    <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <th>Date</th>
            <th>Morning (08:00 - 12:00 am)</th>
            <th>Evening (04:00 - 09:00 pm)</th>
        </tr>

        {% for day in days %}
        <tr>
            <td>{{ day.date }}</td>
            <td>08:00 - 12:00 am</td>
            <td>04:00 - 09:00 pm</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>