<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Availability</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='appointment.css') }}">
    <style>
        table {
            width: 70%;
            margin: 20px auto;
            border-collapse: collapse;
            font-size: 18px;
        }
        th {
            background-color: #f2f2f2;
            padding: 12px;
            font-size: 20px;
        }
        td {
            padding: 12px;
            text-align: center;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    {% if availability is not defined %}
    {% set availability = [(1,0)] * 7 %}
    {% endif %}
    <h2>Doctor's Availability</h2>

    <!-- Message after POST -->
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form method="POST">

        <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <th>Date</th>
            <th>Morning (08:00 - 12:00 am)</th>
            <th>Evening (04:00 - 09:00 pm)</th>
        </tr>

    {% for day in days %}
    <tr>
        <td>{{ day.date }}</td>

        <!-- Morning -->
        <td>
            <input type="radio" name="selected_slot" 
                value="{{ loop.index0 * 2 }}"
                {% if availability[loop.index0][0] == 0 %}disabled{% endif %}>
            {{ day.morning }}
        </td>

        <!-- Evening -->
        <td>
            <input type="radio" name="selected_slot"
                value="{{ loop.index0 * 2 + 1 }}"
                {% if availability[loop.index0][1] == 0 %}disabled{% endif %}>
            {{ day.evening }}
        </td>
    </tr>
    {% endfor %}


    </table>
    <div class="input-group1">
                <input type="text" id="purpose" name="purpose" placeholder="Purpose" required>
            </div>
        <br>

        <button type="submit">save</button>
    </form>

</body>
</html>
