<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Availability</title>
    <!-- <link rel="stylesheet" href="..\static\style.css"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
        <div class="logo">
            <h2>Logo</h2>
        </div>
        <div class="nav-icons">
            <ul>
            <li>Contact <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18s" height="18" color="currentColor" fill="none">
                <path d="M4.91186 10.5413L7.55229 7.90088C8.09091 7.36227 8.27728 6.56642 8.05944 5.83652C7.8891 5.26577 7.69718 4.57964 7.56961 3.99292C7.45162 3.45027 6.97545 3 6.42012 3H4.91186C3.8012 3 2.88911 3.90384 3.01094 5.0078C3.93709 13.3996 10.6004 20.0629 18.9922 20.9891C20.0962 21.1109 21 20.1988 21 19.0881V17.5799C21 17.0246 20.5479 16.569 20.0015 16.4696C19.3988 16.36 18.7611 16.1804 18.2276 16.0103C17.4611 15.7659 16.6091 15.9377 16.0403 16.5065L13.4587 19.0881" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg></li>
            </ul>
        </div>
        </nav>
    </header>
    <main>
        <div id="pageC">
            <div class="container">
                <div class="overview">
                    {% if availability is not defined %}
                    {% set availability = [(1,0)] * 7 %}
                    {% endif %}
                    <h2>Doctor's Availability</h2>
                    <!-- Message after POST -->
                    {% if message %}
                        <p>{{ message }}</p>
                    {% endif %}
                </div>
                <form method="POST">

                    <table border="1" cellspacing="0" cellpadding="10" class="appointments-table">
                    <tr>
                        <th>Date</th>
                        <th>Morning (08:00 - 12:00 am)</th>
                        <th>Evening (04:00 - 09:00 pm)</th>
                    </tr>

                {% for day in days %}
                <tr>
                    <td>{{ day.date }}</td>

                    <!-- Morning -->
                    <td>
                        <input type="radio" name="selected_slot" 
                            value="{{ loop.index0 * 2 }}"
                            {% if availability[loop.index0][0] == 0 %}disabled{% endif %}>
                        {{ day.morning }}
                    </td>

                    <!-- Evening -->
                    <td>
                        <input type="radio" name="selected_slot"
                            value="{{ loop.index0 * 2 + 1 }}"
                            {% if availability[loop.index0][1] == 0 %}disabled{% endif %}>
                        {{ day.evening }}
                    </td>
                </tr>
                {% endfor %}


                </table>
                <div class="input1">
                            <input type="text" id="purpose" name="purpose" placeholder="Purpose" required>
                        </div>
                    <br>

                    <button type="submit" class="save">SAVE</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
